@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* UTILITY CLASSES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --font: 18px;
  --font-family: "Bai Jamjuree", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  /* border: 5px solid black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.container {
  max-width: 1250px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

body {
  /* background-color: red; */
  font-family: var(--font-family);
  background-image: url(/clipboard-landing-page-master/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  position: relative;
  /* border: 6px solid black; */
}

.content-div {
  width: 100%;
}

.content {
  flex-direction: column;
}

.logo {
  padding-bottom: 3rem;
}

.content h1 {
  font-size: 3rem;
  color: var(--Dark-Grayish-Blue);
  padding-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
  color: var(--Grayish-Blue);
}

.content p:nth-child(3) {
  font-size: 1.5rem;
  color: var(--Grayish-Blue);
  padding-bottom: 2rem;
}

.btn {
  padding: 20px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0 1rem;
}

.primary {
  background-color: var(--Strong-Cyan);
}

.secondary {
  background-color: var(--Light-Blue);
}
