@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color1: hsl(179, 62%, 43%);
  --primary-color2: hsl(71, 73%, 54%);
  --neutral-color1: hsl(204, 43%, 93%);
  --neutral-color2: hsl(218, 22%, 67%);
  --font-size: 16px;
  --font-karla: "Karla", sans-serif;
}

body {
  background-color: var(--primary-color2);
  font-family: var(--font-karla);
  font-size: 30px;
  font-weight: lighter;
}
